<h2>Cosmic Questions</h2>

<article class="questions">
	<form action="/<%= @patient_id %>/cosmic_questions" method="post">
		
		
			<% @questions.each do |question| %>
			<section class="question">
				<section class="question_title">
					<%= question.title %>
				</section>

				<section class="yes_or_no">
					<input type="radio" id="yes_<%= question.id %>" name="yes_no_<%= question.id %>" value="yes"/>
					<label for="yes_<%= question.id %>">Yes</label>
					<input type="radio" id="no_<%= question.id %>" name="yes_no_<%= question.id %>" value="no"/>
					<label for="no_<%= question.id %>">No</label>
				</section>

			</section>
			<% end %>
			
		

		<div id="next"><input type="submit" value="Next"/></div>
	
	</form>

	

	
	
</article>
